<p><a href="addnew">Add a new webcomic</a>.</p>

<p>Existing webcomics:</p>
<ul>
<% FOREACH url IN urls %>
<li>
<input type="checkbox" name="url_<% url.url %>"
<% IF url.got %> checked <% END %> />
<a href="addnew/<% url.url %>"><% url.url %></a>
</li>
<% END %>
</ul>